.box1{
    background-color: aqua;
    width: 20%;
    height: 800px;
    margin-top: 5%;
    margin-right: 5%;
}

.box2{
    background-color: darkgreen;
    width: 20%;
    height: 800px;
    margin-top: 5%;
    margin-right: 5%;
}

.box3{
    background-color: coral;
    width: 20%;
    height: 800px;
    margin-top: 5%;
    margin-right: 5%;
}

.box4{
    background-color: rosybrown;
    width: 20%;
    height: 800px;
    margin-top: 5%;
    margin-right: 5%;
}

body{
    display: flex   ;
    justify-content: center;
}
